* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 300px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.4);
    border: 2px solid rgb(151, 146, 146);
    position: absolute;

    visibility: hidden;
}
.wrapper .menu {
    padding: 10px 22px 10px 10px;
}

.content .item{
    list-style: none;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    width: 107%;
    height: 50px;
    cursor: pointer;
}

.content .share-menu{
    position: absolute;
    background: #000;;
    border-radius: 5px;
    border: 2px solid rgb(151, 146, 146);
    width: 200px;
    right: -200px;
    top: -10px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.2);
    padding: 13px 22px 10px 10px;

    opacity: 0;
    pointer-events: none;
    transition: 300ms ease;
}
.content .share{
    justify-content: space-between;
    position: relative;
}
.content .share i{
    font-size: 20px;
}

.content .item span{
    margin-left: 8px;
}
.content .item:hover{
    background: #fff;
    color: #000;
}
.content .setting {
    display: flex;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
    margin-top: -4px;
}

.share:hover .share-menu{
    opacity: 1;
    pointer-events: auto;
}